* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* if you are have the font-familiy of the texts
 can you please set in here  */

html {
  font-size: 62.5%;
  /* font-family: 'Poppins', sans-serif; */
}

:root {
  /* --font-family: 'Poppins', sans-serif; */
  line-break: anywhere;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 4.6rem;
}

p {
  font-size: 1.6rem;
}

ui {
  font-size: 1.6rem;
}

li {
  font-size: 1.6rem;
}

@media(max-width: 1024px) {

  h2 {
    font-size: 4.6rem;
  }

  p {
    font-size: 1.6rem;
  }
}


@media(max-width: 768px) {

  h2 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.3rem;
  }

  a {
    font-size: 1.3rem;
  }
}

@media(max-width: 520px) {

  h1 {
    font-size: 4.3rem;
  }
}




.btob-body {
  position: relative;
  background-repeat: repeat;
  background-size: 100%;
  background-position: top;
  margin: 0;
  height: auto;
  width: 100%;
}

.main-section {
  overflow: hidden;
}





.container {
  width: 100%;
  padding: 0 60px;
  max-width: 1100px;
}

@media (max-width:1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width:768px) {

  .container {
    padding: 0 20px;
    max-width: 420px;
  }
}


.top-section-btob {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-section-btob .left {
  position: absolute;
  width: 100%;
}

.top-section-btob .right {
  position: absolute;
  width: 100%;
}

.posstion-realitive {
  position: relative;
}


.scrol {
  position: absolute;
  bottom: 80px;
  max-width: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.center-img-5 {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.center-img-1 {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  max-width: 420px;
  width: 80%;
}

.center-img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 850px;
  width: 80%;
}

.center-img-3 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 285px;
  width: 80%;
}

.center-img-4 {
  position: absolute;
  top: 67.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 290px;
  margin-left: 160px;
  width: 80%;
}

.animal-left-j {
  position: absolute;
  bottom: 15.5%;
  left: -5%;
  z-index: 1;
  max-width: 550px;
  width: 39%;
}

.animal-right-j {
  position: absolute;
  bottom: 18.5%;
  right: -12%;
  z-index: 1;
  max-width: 600px;
  width: 42%;
}



.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.top-side-btob {
  margin-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-clound-top {
  width: 100%;
  position: absolute;
  top: 60px;
  height: auto;
  opacity: 0.4;
  z-index: -1;
}

.img-clound-top img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.scrol-img {
  width: 7%;
  height: auto;
  max-width: 70px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.top-whole-img {
  width: 100%;
  height: auto;
}

.top-whole-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.s1-title-box {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 30px;
}

.title-orenge {
  max-width: 550px;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.title-orenge img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title-orenge .dot {
  font-size: 14px;
  margin: 0 5px;
}

.title-subtitle {
  color: #008763;
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.title-subtitle img {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-description {
  max-width: 640px;
  text-align: center;
  color: #008763;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}


.cards-seaction {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.card-main-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.card-main-box .card-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-main-box .card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.s1-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.s1-card-text .title-subtitle {
  font-size: 18px;
  color: #5D3E23 !important;
  text-align: center;
  line-height: 160%;
}

.s1-card-text .title-subtitle p {
  font-size: 18px;
  color: #5D3E23 !important;
  text-align: center;
  line-height: 160%;
}

.knowledge-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.knowledge-section h2, li {
  max-width: 640px;
  text-align: center;
  color: #5D3E23;
  font-size: 16px;
  font-weight: 600;
}

.knowledge-section li {
  margin-bottom: 10px;
  text-align: left;
}

.icon-bn-cards {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .3s ease;
}

.s1-card-text .title-subtitle img {
  bottom: -30px;
}

.commentary-box {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 50px;
  position: relative;
}


.commentary-box p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: white;
  box-shadow: #5D3E23;
}


.commentary-box img {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 26px;
}

.mg-top-100 {
  margin-top: 100px;
}

.card-img-title {
  color: #EF8638;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-title span {
  color: #EF8638;
  font-size: 20px;
  font-weight: 600;
  padding-left: 3px;
}

.s2-text-span {
  padding: 0 20px;
}

.s2-text-content {
  font-size: 16px;
  color: #5D3E23;
  text-align: left;
  line-height: 200%;
}

.s2-card-main-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.s2-card-main-box .card-img, .s2-card-main-box .card-img img {
  width: 100%;
}

.icon-bn-cards2 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-description-2 {
  text-align: center;
  color: #5D3E23;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;

}

.s3-title-box {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.s3-images-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}


.s3-images-content .top {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.s3-images-content .top img {
  width: 60%;
  height: auto;
  max-width: 592px;
}

.s3-images-content .top .icon-img {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

.s3-images-content .bottom {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.s3-images-content .bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.commentary-box .commetn-img2 {
  position: absolute;
  top: unset;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 26px;
  transform: rotate(180deg);
}

.s2-comment-contetn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 80px;
}

.s2-comment-contetn .commentary-box {
  margin-top: 0;
}

.s2-comment-contetn h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FF6D00;
}

.info-main-s2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 80px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.info-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-item p {

  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  color: #5D3E23;
}

.ta-center {
  text-align: center !important;
}

.contact-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}


.form-container {
  width: 100%;
  gap: 30px;

}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.form-group label {
  width: 100%;
  max-width: 220px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #5D3E23;
  text-align: left;
  line-height: 200%;
  font-weight: 700;
  max-height: 50px;
}

.form-group label img {
  height: 100%;
  width: auto;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 22px;
  border: 1px solid #ddd;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 16px;
  color: #5D3E23;
  font-weight: 600;
}

.form-group textarea {
  border-radius: 20px;
}

.submit-btn {
  border: none;
  background: none;
  margin-top: 15px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #F88B57;
  box-shadow: 0 0 0 2px rgba(255, 127, 80, 0.1);
}

.gap-60 {
  gap: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-160 {
  margin-top: 160px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-btob {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 70px;
  background-size: cover;
  background-position: top;
}

.footer-btob p {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Times New Roman';
  margin-top: 40px;
}

footer {
  width: 100%;
}

.rl-none {
  display: none;
}

.rt-none {
  display: none;
}

@media (max-width:1024px) {
  .center-img-2 {
    width: 62%;
    min-width: 555px;
  }

  .top-section-btob {
    max-height: 800px;
  }

  .center-img-1 {
    width: 40%;
  }

  .center-img-3 {
    width: 30%;
  }

  .center-img-4 {
    margin-left: 100px;
    width: 20%;
  }
}

@media (max-width:768px) {

  .top-section-btob {
    height: 770px;
    max-width: 450px;
  }

  .center-img-1 {
    top: 22%;
    width: 44%;
  }

  .center-img-2 {
    min-width: unset;
    width: 95%;
    max-width: 360px;
  }

  .center-img-4 {
    margin-left: 0;
    top: 69%;
    width: 33%;
    max-width: 123px;
  }

  .animal-right-j {
    position: absolute;
    bottom: 12.5%;
    right: -64%;
    z-index: 1;
    max-width: 600px;
    width: 42%;
    min-width: 380px;
  }

  .animal-left-j {
    position: absolute;
    bottom: 13.5%;
    left: -35%;
    z-index: 1;
    max-width: 550px;
    width: 39%;
    min-width: 287px;
  }

  .scrol {
    bottom: 50px;
  }

  .center-img-3 {
    top: 17%;
  }

  .rp-none {
    display: none;
  }


  .rl-none {
    display: flex;
  }

  .title-description {
    font-size: 14px;
    line-height: 200%;
  }

  .title-subtitle {
    font-size: 18px;
  }

  .cards-seaction {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }

  .icon-bn-cards {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .s1-card-text .title-subtitle p {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .s1-card-text .title-subtitle img {
    bottom: -20px;
  }

  .knowledge-section {
    gap: 20px;
  }

  .icon-bn-cards2 {
    top: 52%;
    transform: translate(-50%, -50%) rotate(90deg);

  }

  .title-orenge {
    width: 90%;
  }


  .mb-40 {
    margin-bottom: 20px;
  }

  .mt-80 {
    margin-top: 60px;
  }

  .mt-160 {
    margin-top: 120px;
  }

  .mg-top-100 {
    margin-top: 60px;
  }

  .s3-images-content .bottom {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .s3-images-content .top img {
    width: 100%;
  }

  .s3-images-content .top .icon-img {
    position: relative;
  }

  .s3-images-content .top {
    flex-direction: column;
    gap: 20px;
  }

  .form-group label img {
    max-width: 36px;
    height: auto;
  }

  .form-group label {
    font-size: 14px;
  }

  .contact-form {
    width: 100%;
    gap: 8px;
  }

  .form-group {
    gap: 16px;
  }

  .form-group label {
    max-width: 156px;
  }

  .form-group input, .form-group textarea {
    padding: 8px 16px;
    font-size: 12px;
  }

  .footer-btob {
    margin-top: 40px;
  }


}