* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.fv {
    background: url('./assets/img/fv/bg.png') no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fv > img {
    max-width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.fv .fv-cta {
    opacity: 0;
}

.fv .fade-in {
    opacity: 1;
}

.fv .fade-from-bottom {
    opacity: 1;
    transform: translateY(-50px);
}

.fv .fade-from-top {
    opacity: 1;
    transform: translateY(50px);
}

.fv .fade-from-right {
    opacity: 1;
    transform: translateX(-50px);
}

.fv .fade-from-left {
    opacity: 1;
    transform: translateX(50px);
}

.fv-logo {
    opacity: 1;
    top: -4%;
    left: 2%;
}

.fv-menu {
    top: -8%;
    right: 3%;
}

.fv-subtitle {
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
}

.fv-birds {
    top: 18%;
    left: 12%;
}

.fv-pio1 {
    top: 40%;
    right: 25%;
}

.fv-pio2 {
    top: 65%;
    right: 16%;
}

.fv-pio3 {
    top: 35%;
    right: 20%;
}

.fv-animals {
    bottom: 33%;
    left: 49%;
    transform: translateX(-49%);
    z-index: 10;
    opacity: 1; 
}

.fv-boat {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.fv-island {
    bottom: 17%;
    right: -10%;
}

.fv-sea {
    bottom: -10%;
    width: 100%;
    opacity: 1;
    transform: translateY(100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

.fv-circle1 {
    top: 22%;
    left: -7%;
}

.fv-circle2 {
    top: 30%;
    right: -4%;
}

.fv-scroll {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.fv-cloud1 {
    top: 10%;
    left: -8%;
}

.fv-cloud2 {
    top: 15%;
    right: -5%;
}

.fv-cloud3 {
    top: 5%;
    right: 5%;
}

.fv-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 10px;
}
